.container {
    width: 90%;
    max-width: 90%;
}

/* Admin Login */
    .admin {
        flex-flow: column wrap;
        align-items: center;
    }

    .login-form {
        flex-flow: column wrap;
        margin-top: 10%;
        justify-content: center;
    }

    .form-field {
        align-items: center;
        width: 30%;
    }

    .submit {
        
    }

/* Admin Links */
    .admin-links {
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .admin-links a {
        padding-left: 10px;
        padding-right: 10px;
    }

/* Posts Table */
    .table-responsive {
        background: #f8f9fa;
        display: block;
        overflow-x: auto;
        width: 100%;
    }

    .table-responsive table {
        background-color: transparent;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .table-responsive table thead th {
        border-bottom: 2px solid #eceeef;
        border-top: 1px solid #eceeef;
        padding: .75rem;
        text-align: left;
        
    }

    .table-responsive table tbody tr:nth-of-type(odd) {
        background-color: #ffffff;
    }

    .table-responsive table tbody td {
        border-top: 1px solid #eceeef;
        padding: .75rem;
    }

/*********** ADD POST **********/
#postDescription {
    width: 100%;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid transparent;
    border-color: #f5c6cb;
    border-radius: .25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: .75rem 1.25rem;
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}