.admin-section {
    background-color: #f8f9fa;
}

/* Admin Login */
    .fb-login-form {
        flex-flow: column wrap;
        margin-top: 15%;
        align-items: center;
    }

    .fb-form-field {
        align-items: center;
        width: 30%;
    }

    .fb-submit {
        
    }

/* Admin Links */
    .fb-admin-links {
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .fb-admin-links a {
        padding-left: 10px;
        padding-right: 10px;
    }

/* Posts Table */
    .fb-table-responsive {
        display: block;
        overflow-x: auto;
        width: 100%;
    }

    .fb-table-responsive table {
        background-color: transparent;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .fb-table-responsive table thead th {
        border-bottom: 2px solid #eceeef;
        border-top: 1px solid #eceeef;
        padding: .75rem;
        text-align: left;
        
    }

    .fb-table-responsive table tbody tr:nth-of-type(odd) {
        background-color: #ffffff;
    }

    .fb-table-responsive table tbody td {
        border-top: 1px solid #eceeef;
        padding: .75rem;
    }

/*********** ADD POST **********/
.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid transparent;
    border-color: #f5c6cb;
    border-radius: .25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: .75rem 1.25rem;
    position: relative;
}

.fb-form-group {
    margin-bottom: 10px;
}