@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* Body */
body {
	font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, serif;
	font-size: 16px;
}

/* Navbar */
.navbar {
	padding-left: 0px; 
}

.nav-logo {
	height: 75px;
}

/* Main Content */
/* .container {
	max-width: 1280px;
} */

.main-content {
	margin-top: 1rem;
	padding: 0px;
}

.heading {
	color: #2baad8;
	text-align: center;	
}

/* Blog Posts */
.blogHeading {
	font-size: 42px; 
	color: #2f2c2c; 
	font-weight: 400;
	margin: 0px;
}
	
.blogParagraph, .blogList {
	font-size: 20px; 
	color: #2B2B2B;
	line-height: 36px;
}