@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* General */
*, ::after, ::before {
	box-sizing: border-box;
}

html {
    height: 100%;
}

body {
	background: #f8f9fa;
	font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, serif;
	font-size: 16px;
	height: 100%;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
}

/* Navbar */
.fb-nav {
	border-bottom: 8px solid #ff9800;
	justify-content: center;
	margin-top: 10px;
}

.fb-nav-logo {
	height: 80px;
}

/* Content */
	.fb-container {
		background: #e9ebee;
		min-height: 100%;
	}
	
	.fb-sidebar {
		background: #111;
		flex: 0 0 100px;
	}

	.fb-content {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
		height: 100vw;
		padding: 4rem;
	}

	.fb-heading {
	}

/* Cards */
	.fb-card {
		background: #f8f9fa;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: .25rem;
		/* float: left; */
		width: 33%;
	}

	.fb-card img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	.fb-card-body {
		padding: 1.25rem;
	}

	.fb-card-title {
		margin-bottom: .75rem;
	}