@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* Body */
body {
	font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, serif;
	font-size: 16px;
}

/* Navbar */
.bs-nav {
	display: flex;
	justify-content: center;
	margin: 10px auto 5% auto; 
}

.nav-bs-logo {
	height: 70px;
}

/* Main Content */
/* .container {
	max-width: 1280px;
} */

.main-content {
	margin-top: 1rem;
	padding: 0px;
}

.heading {
	color: #2baad8;
	text-align: center;	
}

.trending {
	margin-top: 20px;
}