/* Blog Posts */
.heading {
	color: #2baad8;
	text-align: left;	
}

h3 {
	font-size: 42px; 
	color: #2f2c2c; 
	font-weight: 400;
	margin: 0px;
}

.post-content h3 {
	margin: 25px auto 10px auto;
}

.post-content img {
	width: 100%;
	height: auto;
}

p, ul {
	font-size: 20px; 
	color: #2B2B2B;
	line-height: 36px;
	text-align: justify;
}