/* Blog Posts */
.mt-4 {
	margin-top: 1.5rem;
}

.fb-main-content {
	background: #f2f4f8;
}

.fb-viewpost {
	padding: 0 2rem;
}

@media (min-width: 576px) {
	.fb-viewpost {
		padding: 0 4rem;
	}
}

@media (min-width: 768px) {
	.fb-viewpost {
		padding: 0 6rem;
	}
}


h3 {
	font-size: 42px; 
	color: #2f2c2c; 
	font-weight: 400;
	margin: 0px;
}

.post-content h3 {
	margin: 25px auto 10px auto;
}

.post-content img, .img-fluid {
	height: auto;
	width: 100%;
}

@media (min-width: 576px) {
	.post-content img, .img-fluid {
		display: block;
		margin: auto;
		width: 50%;
	}
}

p, ul {
	font-size: 20px; 
	color: #2B2B2B;
	line-height: 36px;
	text-align: justify;
}

.post-nav {
	justify-content: center;
	align-items: center;
}

.post-nav .btn {
    background-color: #df7100;
    border-color: #2e6da4;
	border-radius: 3px;
	color: #fff;
    display: block;
	font-size: 32px;;
	justify-content: center;
	line-height: 1.3333333;
	padding: 10px 16px;
	text-align: center;
}