/* Blog Posts */
.post {
	/* background: #f2f4f8; */
}

/* Post Heading */
.post-lead {
	border-bottom: 1px solid #efefef;
	font-family: arial;
    margin-bottom: 20px;
}

.post-content h3 {
	font-size: 42px; 
	color: #2f2c2c; 
	font-weight: 400;
	margin: 25px auto 10px auto;
}

/* Override Normalize.css */
.post-content h3 strong {
	font-weight: normal;
}

.post-content img, .img-fluid {
	height: auto;
	width: 100%;
}

@media (min-width: 576px) {
	.post-content img, .img-fluid {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
}

p, ul {
	font-size: 20px; 
	color: #2B2B2B;
	line-height: 36px;
}

.post-nav {
	justify-content: center;
	align-items: center;
}

.post-nav .btn {
    background-color: #df7100;
    border-color: #2e6da4;
	border-radius: 3px;
	color: #fff;
    display: block;
	font-size: 32px;;
	justify-content: center;
	line-height: 1.3333333;
	padding: 10px 16px;
	text-align: center;
}