	@media (min-width: 392px) {
		.container {
			width: 360px;
			max-width: 360px;
		}
	}
	
	@media (min-width: 425px) {
		.container {
			width: 395px;
			max-width: 395px;
		}
		
		.feature-slide {
			height: 198px;
		}
	}
	
	@media (min-width: 520px) {
		.container {
			width: 490px;
			max-width: 490px;
		}

		.feature-slide {
			height: 242px;
		}

		.article-img {
			width: 95px;
		}
	}

/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) {
		
	}

	@media (min-width: 620px) {
		.container {
			width: 590px;
			max-width: 590px;
		}

		.feature-slide {
			height: 296px;
		}
	}
	
/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		.nav-logo img {
			height: 113px;;
		}
	}

/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) {

	}

/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {

	}