/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) {
		.fb-nav-logo {
			height: 90px;
		}

		.fb-card {
			height: 550px;
			width: 32%;
		}

		.fb-card img {
			height: 300px;
		}
	}
	
/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		.fb-nav {
			position: fixed;
			top: 0;
			width: 100%;
		}

		.fb-nav a {
			margin-left: 125px;
		}

		.fb-container {
			margin-top: 112px;			
		}

		.fb-sidebar {
			background: #111;
			color: #FFF;
			display: block;
			height: 100%;
			position: fixed;
			width: 125px;
		}
		
		.fb-sidebar ul {
			list-style: none;
			padding: 15px 0;
		}

		.fb-sidebar ul li {
			text-align: center;			
		}

		.fb-sidebar ul li a {
			display: block;
			padding: 15px 0;
		}

		.fb-sidebar-links a:hover {
			background: #2baad8;
			color: #fff;
		}
		
		.fb-main-content {
			margin-left: 125px;
		}

		.fb-posts {
			justify-content: space-between;
			padding: 0 2rem;
		}
	}

/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		.fb-posts {
			justify-content: space-around;
			padding: 0 4rem;			
		}

		.fb-card {
			height: 500px;
			width: 29%;
		}

	}

/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {
		.fb-posts {
			justify-content: space-around;
			padding: 0 6rem;			
		}
	}