/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
        .nav-logo {
            height: 90px;
        }
    }

/* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        .navbar-brand {
            margin-left: 10%;
        }
        
        .main-content {
            padding: 0px 20%;
        }
    }

/* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .nav-logo {
            height: 100px;
        }
    }

/* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .navbar-brand{
            margin-left: 20%;
        }
    }