/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) {
		.fb-nav-logo {
			height: 90px;
			padding-left: 110px;
		}

		.fb-sidebar {
			display: block;
			background: #111;
			flex: 0 0 100px;
		}

		.fb-card {
			height: 550px;
			width: 32%;
		}

		.fb-card img {
			height: 300px;
		}
	}
	
/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		.fb-posts {
			/* justify-content: space-between; */
			padding: 0 2rem;
		}
		
		.fb-trending {
			margin-top: inherit;
		}
	}

/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		.fb-nav-logo {
			height: 100px;
		}
		
		.fb-posts {
			justify-content: space-around;
			padding: 0 4rem;			
		}

		.fb-card {
			height: 500px;
			width: 29%;
		}

	}

/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {
		.fb-posts {
			justify-content: space-around;
			padding: 0 6rem;			
		}
	}